.layout {
  width: 400px;
  height: calc(100vh - 200px);
  margin: 100px auto;
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn-group {
  margin-bottom: 12px;
}

.delete-icon {
  margin-left: 12px;
}
